*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
stftpitchshift filter=lfs diff=lfs merge=lfs -text
audios/algo[[:space:]]es[[:space:]]algo_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/ALGUIEN[[:space:]]COMO[[:space:]]YO[[:space:]]PARA[[:space:]]GRADIO.mp3 filter=lfs diff=lfs merge=lfs -text
audios/Caricias[[:space:]]y[[:space:]]Desilusiones[[:space:]]para[[:space:]]gradio.mp3 filter=lfs diff=lfs merge=lfs -text
audios/considerando[[:space:]]1[[:space:]]dembow1.mp3 filter=lfs diff=lfs merge=lfs -text
audios/de[[:space:]]la[[:space:]]calle[[:space:]]la[[:space:]]clase[[:space:]]hip[[:space:]]hop[[:space:]]parte[[:space:]]1.mp3 filter=lfs diff=lfs merge=lfs -text
audios/de[[:space:]]la[[:space:]]calle[[:space:]]la[[:space:]]clase[[:space:]]hip[[:space:]]hop[[:space:]]perron[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
audios/de[[:space:]]la[[:space:]]calle[[:space:]]la[[:space:]]clase[[:space:]]hip[[:space:]]hop[[:space:]]perron.mp3 filter=lfs diff=lfs merge=lfs -text
audios/excepciones[[:space:]](prueba1)_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/hasta[[:space:]]mañana[[:space:]](1)_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/HEITER[[:space:]](2).mp3 filter=lfs diff=lfs merge=lfs -text
audios/HEITER[[:space:]]3.mp3 filter=lfs diff=lfs merge=lfs -text
audios/heiter.mp3 filter=lfs diff=lfs merge=lfs -text
audios/himno[[:space:]]de[[:space:]]Contradicciones_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/hip[[:space:]]hop[[:space:]]callejero[[:space:]]funk_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/Imaginar_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/La[[:space:]]Vida[[:space:]]Loca[[:space:]]2[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
audios/La[[:space:]]Vida[[:space:]]Loca[[:space:]]2.mp3 filter=lfs diff=lfs merge=lfs -text
audios/MI[[:space:]]OPORTUNIDAD[[:space:]]PARA[[:space:]]GRADIO[[:space:]]VERSION[[:space:]]2.mp3 filter=lfs diff=lfs merge=lfs -text
audios/MI[[:space:]]OPORTUNIDAD[[:space:]]PARA[[:space:]]GRADIO.mp3 filter=lfs diff=lfs merge=lfs -text
audios/MILITANTE[[:space:]]corrido[[:space:]]3.mp3 filter=lfs diff=lfs merge=lfs -text
audios/MILITANTE1.mp3 filter=lfs diff=lfs merge=lfs -text
audios/MILITANTEcorrido1.mp3 filter=lfs diff=lfs merge=lfs -text
audios/primer[[:space:]]dia[[:space:]]de[[:space:]]clases[[:space:]]dembow.mp3 filter=lfs diff=lfs merge=lfs -text
audios/primer[[:space:]]dia[[:space:]]de[[:space:]]clases[[:space:]]intro.mp3 filter=lfs diff=lfs merge=lfs -text
audios/rap[[:space:]]a[[:space:]]las[[:space:]]420_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/RAP[[:space:]]R,[[:space:]]REAL[[:space:]]DE[[:space:]]LA[[:space:]]CALLE.mp3 filter=lfs diff=lfs merge=lfs -text
audios/Reflexionando_Vocal.mp3 filter=lfs diff=lfs merge=lfs -text
audios/Sin[[:space:]]Fronteras[[:space:]]2[[:space:]]PARA[[:space:]]GRADIO.mp3 filter=lfs diff=lfs merge=lfs -text
audios/Sin[[:space:]]Fronteras[[:space:]]PARA[[:space:]]GRADIO.mp3 filter=lfs diff=lfs merge=lfs -text
audios/TODAVIA.[[:space:]]para[[:space:]]gradiomp3.mp3 filter=lfs diff=lfs merge=lfs -text
