*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
stftpitchshift filter=lfs diff=lfs merge=lfs -text
audios/Audacity/CHAND_part1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/CHAND_part2.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/CHAND.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/comment_part1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/comment.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/INTRO.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/my[[:space:]]opinion_part1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/my[[:space:]]opinion_part2.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/my[[:space:]]opinion.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/outro.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/v3[[:space:]]p1_part1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/v3[[:space:]]p1_part2.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/v3[[:space:]]p1_part3.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/v3[[:space:]]p1_part4.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/v3[[:space:]]p1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video[[:space:]]p1_part1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video[[:space:]]p1_part2.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video[[:space:]]p1_part3.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video[[:space:]]p1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video2[[:space:]]p1_part1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video2[[:space:]]p1_part2.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video2[[:space:]]p1_part3.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video2[[:space:]]p1_part4.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/video2[[:space:]]p1.wav filter=lfs diff=lfs merge=lfs -text
audios/Audacity/क्या[[:space:]]हुआ[[:space:]]था[[:space:]]अमीलिया[[:space:]]ईयरहार्ट[[:space:]]के[[:space:]]साथ_[[:space:]]जानिए[[:space:]].wav filter=lfs diff=lfs merge=lfs -text
